ApiDemo/ApiDemo/Service References/FloreamAuthApi/Authentication2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://testapi.homelearningcollege.com/Authentication.svc?xsd=xsd2" namespace="http://schemas.homelearningcollege.com/" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.homelearningcollege.com/" minOccurs="0" name="request" nillable="true" type="q1:AuthenticationEntities.AuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.homelearningcollege.com/" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:AuthenticationEntities.AuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>